name: PMD Check

on:
  workflow_dispatch:
  # push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  code-analysis:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write

    steps:
    - name: Setup Maven Action
      uses: s4u/setup-maven-action@v1.18.0
      with:
        java-version: 17
        java-distribution: adopt
        maven-version: 3.9.7
        settings-servers: |
          [{
            "id": "skyve",
            "username": "${{ secrets.NEXUSUSERNAME }}",
            "password": "${{ secrets.NEXUSPASSWORD }}"
          }]
    - uses: pmd/pmd-github-action@v2
      with:
        rulesets: '.config/maven-pmd-plugin-default.xml'
        analyzeModifiedFilesOnly: false
    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: pmd-report.sarif
